/* =========================
   COLOR ROOTS
========================= */
:root {
  --color-grey: #b5b5b5;
  --color-blue: #2e4365;
  --color-cream: #fcc770;
  --color-yellow: #e59d2c;
  --color-offwhite: #f5f5f5;
  --color-lightblue: #e6eaf0;
}